.Crew{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/crew/background-crew-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}
.topContentCrew{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    justify-content: flex-end;
}
.switchContent{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.crew1{
    height: 290px;
    margin-bottom: -4px;
    margin-top: 9px;

}
.crew2{
    margin-bottom: -5px;
    height: 300px;
}
.bottonContentCrew {
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.bottonContentCrew h3, .bottonContentCrew h2{
    color: white;
    text-transform: uppercase;
    font-family: var(--title);
}
.bottonContentCrew h3{
    color: #85868b;
    font-size: 1.3rem;
    
}
.bottonContentCrew h2{
    font-size: 2rem;
    margin: 15px;
}
.imgBottonLine{
    width: 80vw;
    border: 1px solid  #383B4B;
    
}
.middleContentCrew{
    margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
       
}
.crewButton{
    margin: 0px 5px;
    padding: 5px;
    border-radius: 100%;
    border: none;
    background-color: #595c66;
    transition-duration: 0.5s;
    cursor: pointer;
}

.crewButton:focus{
    background-color: white;
    transition-duration: 0.2s;
}
.crewButton:hover{
   background-color: #85868b;
   transition-duration: 0.5s;
}
@media (min-Width: 768px) {
    .Crew{
        background-image: url('../assets/crew/background-crew-tablet.jpg');
        
    }
    .switchContent{
        flex-direction: column-reverse;
    }
    .imgBottonLine {
        border: none;
    }
    .crew1 {
        height: 580px;
    }
    .crew2 {

        height: 587px;
    }
    .bottonContentCrew h3{
        font-size: 1.7rem;
    }
    .bottonContentCrew h2 {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
    }
    .description{
        font-size: 1.4rem;
        line-height: 40px;
    }
    .crewButton{
        padding: 7px;
    }
}

@media (min-Width: 1400px) {
    .Crew{
        background-image: url('../assets/crew/background-crew-desktop.jpg');
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 99vw;
    }
    .rightSideCrew{
        display: flex;
        height: 100vh;
        width: 30vw;
        align-items: flex-end;
    }
    .crew1 {
        height: 1050px;
    }
    .crew2 {
        height: 1050px;
    }
    .topContentCrew {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 70vh;
        width: 40vw;
        justify-content: space-around;
    }
    .bottonContentCrew {
        align-items: flex-start;
    }
    .titleContentCrew{
        margin-top: 20px;
        font-size: 1.8rem;
    }
 
    .bottonContentCrew h3 {
        font-size: 2.3rem;
    }
    .bottonContentCrew h2 {
        font-size: 5rem; 
        margin-left: 0;   
    }
    .descriptionCrew{
        margin-left: 5px;
        font-size: 1.6rem;
    }
    .crewButton {
        padding: 11px;
    }
}