.Crew{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/crew/background-crew-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.topContentCrew{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    justify-content: flex-end;
}

.crew1{
    height: 290px;
    margin-bottom: -4px;
    margin-top: 9px;

}
.crew2{
    margin-bottom: -5px;
    height: 300px;
}
.bottonContentCrew {
    text-align: center;
    height: 30vh;

}
.bottonContentCrew h3, .bottonContentCrew h2{
    color: white;
    text-transform: uppercase;
    font-family: var(--title);
}
.bottonContentCrew h3{
    color: #85868b;
    font-size: 1.3rem;
    
}
.bottonContentCrew h2{
    font-size: 2rem;
    margin: 15px;
}
.imgBottonLine{
    width: 80vw;
    border: 1px solid  #383B4B;
    
}
.middleContentCrew{
    margin: -25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
       
}
.crewButton{
    margin: 0px 5px;
    padding: 5px;
    border-radius: 100%;
    border: none;
    background-color: #595c66;
    transition-duration: 0.5s;
    cursor: pointer;
}

.crewButton:focus{
    background-color: white;
    transition-duration: 0.2s;
}
.crewButton:hover{
   background-color: #85868b;
   transition-duration: 0.5s;
}
@media (min-Width: 768px) {
    .Crew{
        background-image: url('../assets/crew/background-crew-tablet.jpg');
        
    }
}

@media (min-Width: 1400px) {
    .Crew{
        background-image: url('../assets/crew/background-crew-desktop.jpg');
    }
}