.Destination{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/destination/background-destination-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
@media (min-Width: 768px) {
    .Destination{
        background-image: url('../assets/destination/background-destination-tablet.jpg');
        
    }
}

@media (min-Width: 1024px) {
    .Destination{
        background-image: url('../assets/destination/background-destination-desktop.jpg');
    }
}