:root{
    --dark:#0B0D17;
    --subtitle:#D0D6F9;
    --white:#FFFFFF;
    --sH1:150px;
    --sH2:100px;
    --sH3:56px;
    --sH4:32px;
    --sH5:28px;
    --subHeading1:28px;
    --subHeading2:14px;
    --navText:16px;
    --bodyText:16px;
    --title:'Bellefair', serif;
    --text:'Barlow Condensed', sans-serif;

}
.Home{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: var(--white);
}
.Content{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title{
    font-family: var(--title);
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    color: var(--white);
    margin: 16px;
}
.text{
    font-family: var(--text);
    font-size: 18px;
    line-height:30px;
    color: var(--subtitle);
    margin: 10px 24px;
    font-weight: 200;
}
.bottonContent{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    color: var(--dark);
    font-size: var(--title); 
    font-size: 24px;
    font-weight: 200;
}
.circle span{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    background-color: white;
    display: grid;
    align-items: center;
  
}
.circle:hover{
    border: 60px solid rgba(95, 95, 95, 0.408);
    border-radius: 100%;
    overflow:hidden;
    margin: -60px;

}
@media (min-Width: 768px) {
    .Home{
        background-image: url('../assets/home/background-home-tablet.jpg');
        
    }
}

@media (min-Width: 1024px) {
    .Home{
        background-image: url('../assets/home/background-home-desktop.jpg');
    }
}